<section id="content">
  <div class="area heading-area">
    <div class="title">
      <div class="holder">
        <h1>Charities</h1>
      </div>
    </div>
    <div class="fixed-section signup">
      <div class="section-holder">
        <h2><span>HELP SUPPORT THESE LOCAL CAUSES AS YOU SHOP.</span>SIGN UP AND TAP-IN TODAY!</h2>
      </div>
      <span class="bg-decor">&nbsp;</span>
    </div>
  </div>
  <ul class="charities-blocks">
    <li>
      <article>
        <div class="logo-block">
          <div class="partners-logo">
            <span><a href="#"><img src="images/partners-logo17.png" width="149" height="100" alt="Austin Childrens shelter" /></a></span>
          </div>
          <a href="#" class="web">visit website</a>
        </div>
        <div class="text-block">
          <h3><a href="#">Austin Children’s Shelter</a></h3>
          <p>Austin Children’s Shelter provides a safe home and services for children and youth who have experienced significant trauma, abuse or neglect in their lives.</p>
        </div>
      </article>
    </li>
    <li>
      <article>
        <div class="logo-block">
          <div class="partners-logo">
            <span><a href="#"><img src="images/partners-logo18.png" width="154" height="76" alt="Austin Humane Society" /></a></span>
          </div>
          <a href="#" class="web">visit website</a>
        </div>
        <div class="text-block">
          <h3><a href="#">Austin Humane Society</a></h3>
          <p>Austin’s largest no-kill, non-profit animal shelter dedicated to eliminating unnecessary euthanasia through innovative life-saving programs and education.</p>
        </div>
      </article>
    </li>
    <li>
      <article>
        <div class="logo-block">
          <div class="partners-logo">
            <span><a href="#"><img src="images/partners-logo19.png" width="113" height="139" alt="Austin Pets Alive" /></a></span>
          </div>
          <a href="#" class="web">visit website</a>
        </div>
        <div class="text-block">
          <h3><a href="#">Austin Pets Alive</a></h3>
          <p>Austin Pets Alive! is a nonprofit organization dedicated to eliminating the killing of companion animals. Since 2008, APA! has saved the lives of more than 17,000 dogs and cats.</p>
        </div>
      </article>
    </li>
    <li>
      <article>
        <div class="logo-block">
          <div class="partners-logo">
            <span><a href="#"><img src="images/partners-logo20.png" width="122" height="127" alt="Health Alliance for Austin Musicians" /></a></span>
          </div>
          <a href="#" class="web">visit website</a>
        </div>
        <div class="text-block">
          <h3><a href="#">Health Alliance for Austin Musicians</a></h3>
          <p>The mission of HAAM is to provide access to affordable health care for Austin’s low income, uninsured working musicians, with a focus on prevention and wellness.</p>
        </div>
      </article>
    </li>
    <li>
      <article>
        <div class="logo-block">
          <div class="partners-logo">
            <span><a href="#"><img src="images/partners-logo21.png" width="155" height="83" alt="Meals on Wheels and More" /></a></span>
          </div>
          <a href="#" class="web">visit website</a>
        </div>
        <div class="text-block">
          <h3><a href="#">Meals on Wheels <br /> and More</a></h3>
          <p>Meals on Wheels and More seeks to nourish and enrich the lives of the homebound and other people in need through programs that promote dignity and independent living.</p>
        </div>
      </article>
    </li>
    <li>
      <article>
        <div class="logo-block">
          <div class="partners-logo">
            <span><a href="#"><img src="images/partners-logo22.png" width="143" height="101" alt="Please Be Kind to Cyclists" /></a></span>
          </div>
          <a href="#" class="web">visit website</a>
        </div>
        <div class="text-block">
          <h3><a href="#">Please Be Kind <br /> to Cyclists</a></h3>
          <p>Please BE KIND to Cyclists is a non-profit organization committed to raising awareness and increasing the harmony and tolerance between drivers and cyclists.</p>
        </div>
      </article>
    </li>
  </ul>
</section>