<section id="content">
  <div class="area">
    <div class="title business-title">
      <div class="holder">
        <h1>Participating Businesses</h1>
      </div>
    </div>
    <div class="filter-section fixed-section">
      <div class="section-holder">
        <div class="forms-box">
          <div class="box-holder">
            <form action="#">
              <fieldset>
                <label for="business-name">Business search:</label>
                <div class="row">
                  <input type="search" placeholder="Type business name here" id="business-name" />
                  <div class="submit"><input type="submit" value="SEARCH" /></div>
                </div>
              </fieldset>
            </form>
            <form action="#" class="request">
              <fieldset>
                <label for="business-name2">Request your favorite business to join the club:</label>
                <div class="row">
                  <input type="search" placeholder="Type business name here" id="business-name2" />
                  <div class="submit"><input type="submit" value="REQUEST" /></div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <span class="bg-decor">&nbsp;</span>
    </div>
  </div>
  <div class="items">
    <span class="note">- Click on a business below for more info -</span>
    <ul class="items-list" id="business-list">
      <!-- Businesses list -->
    </ul>
    <div class="ajax-holder">
      <a href="inc/post01.html" class="hidden">&nbsp;</a>
    </div>
  </div>
</section>